<div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/assets/tulipcoverscroll.jpg" />
          <div class="flex-caption">
            <h3>Tulip Garden</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis porttitor massa eget pretium. Mauris vel erat sem, id tempor est. Pellentesque lobortis iaculis massa quis auctor.</p>
          </div>
        </li>
        <li>
          <a href="#"><img src="/assets/frankcamerascroll.jpg" /></a>
          <div class="flex-caption">
            <h3>Frank Camera</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis porttitor massa eget pretium. Mauris vel erat sem, id tempor est. Pellentesque lobortis iaculis massa quis auctor.</p>
          </div>
        </li>
        <li>
          <img src="/assets/tulipcoverscroll.jpg"/>
          <div class="flex-caption">
            <h3>Real Recipes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis porttitor massa eget pretium. Mauris vel erat sem, id tempor est. Pellentesque lobortis iaculis massa quis auctor.</p>
          </div>
        </li>
        <li>
          <img src="/assets/frankcamerascroll.jpg"/>
          <div class="flex-caption">
            <h3>Zombie Chase</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis porttitor massa eget pretium. Mauris vel erat sem, id tempor est. Pellentesque lobortis iaculis massa quis auctor.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <span id="responsiveFlag"></span>