<footer>
<div class="container">
 <div class="row">
  <div class="span6">
  <ul class="copyright">
    <li><a class="titles font20" href="#">Website built by Fishplate studios&nbsp;&copy;</a></li>
  </ul>
  </div>
  <div class="span6">
   <ul class="social-media">
    <li><a class="titles font20" href="#">Follow Us</a></li>
    <li><img src="/assets/facebook.png"></li>
    <li><img src="/assets/twitter.png"></li>
   </ul>
  </div>

 </div>
</div>
</footer>