<div class="container">
  <div class="row">
    <div class="span12">
      <h3 class="titles center">FP Studios Services</h3>
      <div class="row">
        <div class="span4">
          <h3 class="titles center">Web Design</h3>
          <p class="ostxt">We have over 20 years of web development experience and love creating new identities for our clients, we want the world to see just how great your company is.</p>

        </div><!--/div-->

        <div class="span4">
          <h3 class="titles center">Branding</h3>
          <p class="ostxt">Our graphic designers are passionate about creating the right identity for your brand, they transform imagination into a visual reality and we will work with you to showcase your business in the best possible way… and some more. As they say ‘a picture is worth a thousand words’</p>

        </div><!--/div-->

        <div class="span4">
          <h3 class="titles center">Responsive Web Design</h3>
          <p class="ostxt">There are more mobile devices in the world than desktop pcs, so why should you miss out on reaching potential customers to grow your business. We can ensure your site is available to everyone, whether it is via a desktop pc , mobile phone or tablet</p>

        </div><!--/div-->

      </div><!--/row-->
    </div>
     <div class="span6">
      <h3 class="titles center">Latest Projects</h3>
       <div class="thumbnail">
        <img src="http://placehold.it/600x250" alt="">
      </div><!--/thumbnail-->
     </div><!--/span6-->


  </div><!--/row-->
</div><!--/container-->