<div class="container">
  <div class="row">
    <div class="span4">
      <h3 class="titles center">The Team</h3>
       <div class="row">
        <div class="span2">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
             <h4 class="titles center">Michael Jones</h4>
              <h5 class="titles center">Graphic Designer</h5>
          </div><!--/thumbnail-->

        </div><!--/span2-->
         <div class="span2">
           <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
             <h4 class="titles center">Richard Lewis</h4>
             <h5 class="titles center">Web Developer</h5>
          </div><!--/thumbnail-->
        </div><!--span2-->
       </div><!--row-->

       <div class="row">
        <div class="span2">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <h4 class="titles center">Karl Turner</h4>
            <h5 class="titles center">Web Developer</h5>
          </div><!--/thumbnail-->

        </div><!--/span2-->
         <div class="span2">
           <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
             <h4 class="titles center">Adam Jones</h4>
             <h5 class="titles center">Graphic Designer</h5>
          </div><!--/thumbnail-->
        </div><!--span2-->
       </div><!--row-->

    </div>
     <div class="span8">
      <h3 class="titles center">Curious about what we do?</h3>
       <p class="hometext">We are fishplatestudios and&nbsp;<span class="boldtext">you</span> are the reason we love what we do.&nbsp;<span class="boldtext">You</span>&nbsp;imagine and we create (with a little magic inbetween) and voila, a brand new website, branding or both.
       We have a team of professional designers and developers ready to turn your vision into a reality.<br><br>
       Everything we do is bespoke so you can rest assured that no two projects are the same.</p>
     </div>
  </div>
</div>