<div class="container">
 <div class="row">
  <div class="span4 minus65">
   <h1 class="titles center">Our Portfolio</h1>
    <h3 class="smalltitles right minus20">sample a visual delicacy</h3>
  </div>
 </div>
</div>

<div class="container">
    <div class="row">
      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/1.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/2.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/3.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/5.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>
    </div><!--row-->
    <br />

    <div class="row">
      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/1.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/6.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/7.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="thumbnail view-seventh">
          <img src="/assets/8.jpg" alt="" />

          <div class="mask">
            <h2>Title</h2>

            <p>Your Text</p><a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>
    </div><!--row-->
  </div><!--/container-->