<div class="container">
  <div class="row">
    <div class="span12 minus65">
      <h2 class="titles">the creative minds</h2>
       <h3 class="smalltitles minus20">meet the team</h3>
    </div>
  </div>
</div><!--/container-->

 <div class="container">
  <div class="row">
    <div class="span6">
     <div class="thumbnail">
      <img src="http://placehold.it/240x160" alt="">
       <h3 class="titles center">Mike</h3>
     </div><!--/thumbnail-->
     <p class="cm">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>

    <div class="span6">
     <div class="thumbnail">
      <img src="http://placehold.it/240x160" alt="">
       <h3 class="titles center">Rich</h3>
     </div><!--/thumbnail-->
     <p class="cm">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>

    <div class="span6">
     <div class="thumbnail">
      <img src="http://placehold.it/240x160" alt="">
       <h3 class="titles center">Karl</h3>
     </div><!--/thumbnail-->
     <p class="cm">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>

    <div class="span6">
      <div class="thumbnail">
      <img src="http://placehold.it/240x160" alt="">
       <h3 class="titles center">adam</h3>
     </div><!--/thumbnail-->
     <p class="cm">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
     


    </div><!--/row-->
  </div><!--/container-->




  