<div class="container">
  <div class="row">
    <div class="span10 offset1">
     <%= render 'shared/flexslider' %>
      <%= render 'shared/middlesectionhome' %>
       <%= render 'shared/lowersectionhome' %>
    </div>
  </div>
</div>