<div class="container">
  <div class="row">
    <div class="span12 minus65">
      <h1 class="titles">making contact</h1>
      <h3 class="smalltitles minus20">not in the E.T sense</h3>
    </div>
  </div>
</div>





<div class="container map">
  <div class="row">
    <div class="span6 offset3 thickborder">
      <%= form_for @message, :url => contact_path, :multipart => true, :validate => true do |f| %>
  
      <%= f.label :name, "Your Name" %>
      <%= f.text_field :name  %>
    
       <div class="border-top"></div>

      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>
      <div class="border-top"></div>
   
      <%= f.label :mobile, "Phone Number" %>
      <%= f.text_field :mobile %>
      <div class="border-top"></div>
   
      <%= f.label :reason, "I'm Interested In"%>
      <%= f.select :reason, [['Web Design'],['Branding'],['Apps'], ['Other']], {:include_blank => 'Please Select'} %>
      <div class="border-top"></div>
  
      <%= f.label :comment, "Questions or Comments", :id => "commentlabel" %><br>
      <%= f.text_area :comment, :size=> "60x10", :id => "formcomment" %><br>
 
      <%= f.submit "Send" %>
  
      <% end %>
    </div>
  </div>
</div>

