/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides.css.less
 *= require_self
 *= require_tree .
*/

/****************
  Fonts
****************/

@font-face {
    font-family: 'SpecialEliteRegular';
    src: url('SpecialElite-webfont.eot');
    src: url('SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
    url('SpecialElite-webfont.woff') format('woff'),
    url('SpecialElite-webfont.ttf') format('truetype'),
    url('SpecialElite-webfont.svg#SpecialEliteRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***************
  P & H Tags
***************/

.cm {
  font-size:1.2em;
  padding:10px;
}

.about {
  padding-left:229px;
  padding-top:15px;
}

/****************
  Font-sizes
****************/

.font20 {
  font-size:17px
}

/****************
    Headers
****************/

.titles {
  font-family: 'SpecialEliteRegular';
  color:#fff;
  font-weight:normal;
}

.smalltitles {
  font-family: 'SpecialEliteRegular';
  color:#ccc;
  font-weight:normal;
  margin-left:47px;
}

.left {
  float:left;
}

.right {
  float:right;
}

.center {
  text-align:center;
}

/****************
  Borders
****************/

.lightborder {
  outline:1px solid #FFF;
}

.thickborder {
  position:relative;
  border-left:2px solid #fff;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;

}

.thickborder:after {
  content:'';
  background: #fff;
  position: absolute; 
  bottom: 0;
  right:0;
  top:0; 
  left: 568px; 
  height: 43%; 
  width: 2px;
}

.formborder {
  border:2px solid white;
}
/****************
    Margins
****************/

.top65 {
  margin-top:65px;
}

.minus65 {
  margin-top:-65px;
}

.minus20 {
  margin-top:-20px;
}

.minus25 {
  margin-top:-25px;
}

/****************
   Navigation
****************/

.navbar {
  background:url('/assets/navbarspray.png') no-repeat;
  background-position:57px;
  height:264px;
  text-align:center;
  margin-top:-140px;

}

.navbar ul{
  list-style-type: none;
}

.navbar ul li{
  float:left;
  margin-top:170px;
}

.navbar ul li:nth-child(5){
  margin-top:115px;
  margin-left:55px;
}


.navbar ul li a{
  padding:10px 33px;
  color:#FFF;
  font-size:1.3em;
  font-family: 'SpecialEliteRegular';
}

.navbar ul li a:hover{
  text-decoration:none;
}

ul.copyright {
  list-style-type: none;
  float:left;
}

ul.copyright li {
  line-height: 105px;
}

ul.social-media  {
  list-style: none;
  float:right;
  
}

ul.social-media li {
  float:left;
  display:inline;

}

ul.social-media li:nth-child(1) {
  line-height: 105px;

}

/*****************
 About Page
*****************/

.splatleftabout {
 background:url('/assets/leftsplat.png') no-repeat 5% 30%;
}

/*****************
  Contact Form 
*****************/
.field_with_errors {
  display:inline;
  position:relative;
}

.field_with_errors .message{
  margin-left:10px;
  position: absolute;
  z-index: 100;
  color:red;
  line-height:34px;
}

form {
  margin:15px 63px 20px;
}

label {
  color:#fff;
  font-family: 'SpecialEliteRegular';
  font-size:1.2em;
  display:inline-block;
  width:220px;
}

textarea {
  width:70%;
}

#formcomment {
  
}

#commentlabel {
  vertical-align: top;
}

.border-top {
  height:5px;
  border-top:1px dashed #FFF;
  padding-bottom:5px;
}

.map {
  background:url('/assets/map.png') no-repeat 85% 185%;
 
}


/*****************
 Media Queries
*****************/

@media all and (max-width: 2200px) {
 
#responsiveNav{
  display:none;
}

}

@media all and (max-width: 1200px) {

  /*nav*/

  nav.navbar{
    display:none;
  }

  #responsiveNav {
    display:block;
  }
  #responsiveNav select{
    width:100%;
    float:left;
   
}

/*headers & Paragraphs*/

.titles {
  text-align: center;
}

.smalltitles {
  text-align:center;
  margin-left:0px;
}

.minus20 {
  margin-top:0px;
}

.minus65 {
  margin-top:0px;
}

.right {
  float:none;
  text-align: center;
} 

.about {
  padding-top:1px;
}

/*Form*/

.map {
  background:none;
}

label {
  display:block;
  text-align:center;
  width:auto;
}

select {
  display:block;
  margin:10px auto;
}

textarea {
  width:100%;
}

input[type="text"] {
  display:block;
  margin:10px auto;

}



}

@media all and (max-width:480px){

/* Headers and paragraphs */

.about {
  padding:5px;
}

/* Form */

form {
  margin:15px 20px 15px;
}

textarea {
  width:92%;
}

/* Creative Minds */

.thumbnail.left{
  float:none;
}

/* Footer*/

.social-media {
  display:none;
}

.copyright {
  float:none;
}

.font20 {
  font-size:12px;
}




}