.view-seventh
{
  cursor:default;
  overflow:hidden;
  position:relative;
  text-align:center;
}

.view-seventh .mask,.view-seventh .content
{
  height:100%;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  width:100%;
}

.view-seventh img
{
  
  display:block;
  opacity:1;
  position:relative;
  -moz-transition:all .5s ease-out;
  -webkit-transition:all .5s ease-out;
  transition:all .5s ease-out;
}

.view-seventh h2
{
  
  background:rgba(0,0,0,0.8);
  color:#fff;
  font-size:17px;
  margin:20px 0 0;
  padding:10px;
  position:relative;
  text-align:center;
  text-transform:uppercase;
  -moz-transform:translateY(-200px);
  -webkit-transform:translateY(-200px);
  transform:translateY(-200px);
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

.view-seventh p
{
  color:#fff;
  font-family:Georgia, serif;
  font-size:12px;
  font-style:italic;
  padding:10px 20px 20px;
  position:relative;
  text-align:center;
  transform:translateY(-200px);
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

.view-seventh a.info
{
  background:#000;
  box-shadow:0 0 1px #000;
  color:#fff;
  display:inline-block;
  padding:7px 14px;
  text-decoration:none;
  text-transform:uppercase;
  -moz-transform:translateY(-200px);
  -webkit-transform:translateY(-200px);
  transform:translateY(-200px);
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

.view-seventh a.info:hover
{
  box-shadow:0 0 5px #000;
}

.view-seventh .mask
{
  background-color:rgba(77,44,35,0.5);
  opacity:0;
  -moz-transform:translateY(-200px) rotate(180deg);
  -webkit-transform:translateY(-200px) rotate(180deg);
  transform:translateY(-200px) rotate(180deg);
  -moz-transition:all .3s ease-out;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.view-seventh:hover img
{
  opacity:0;
  -moz-transform:rotate(720deg) scale(0);
  -webkit-transform:rotate(720deg) scale(0);
  transform:rotate(720deg) scale(0);
}

.view-seventh:hover .mask
{
  -webkit-transform:translateY(0px) rotate(0deg);

  opacity:1;
  -moz-transform:translateY(0px) rotate(0deg);
  -webkit-transform:translateY(0px) rotate(0deg);
  transform:translateY(0px) rotate(0deg);
  -moz-transition-delay:.4s;
  -webkit-transition-delay:.4s;
  transition-delay:.4s;
}

.view-seventh:hover h2
{
  -moz-transform:translateY(0px);
  -webkit-transform:translateY(0px);
  transform:translateY(0px);
  -moz-transition-delay:.7s;
  -webkit-transition-delay:.7s;
  transition-delay:.7s;
}

.view-seventh:hover p
{
  -moz-transform:translateY(0px);
  -webkit-transform:translateY(0px);
  transform:translateY(0px);
  -moz-transition-delay:.6s;
  -webkit-transition-delay:.6s;
  transition-delay:.6s;
}

.view-seventh:hover a.info
{
  -moz-transform:translateY(0px);
  -webkit-transform:translateY(0px);
  transform:translateY(0px);
  -moz-transition-delay:.5s;
  -webkit-transition-delay:.5s;
  transition-delay:.5s;
}