<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>Fishplate Studios</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>
</head>
<body>
  <div class="container">

  <div class="container">
    <div class="row">
      <div class="span12">
        <header>
          <img src="/assets/logo.png" alt="Fishplate Studios">
        </header>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <nav class="navbar">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About FP Studios', about_path %></li>
            <li><%= link_to 'Portfolio', portfolio_path %></li>
            <li><%= link_to 'Creative Minds', creative_minds_path %></li>
            <li><%= link_to 'Contact Us', contact_path %></li>
          </ul>
        </nav>

  <div id="responsiveNav">
    <nav>
      <select id="respn">
       <option value="/index">Home</option>
       <option value="/about">About Fp Studios</option>
       <option value="/portfolio">Portfolio</option>
       <option value="/creative_minds">Creative Minds</option>
       <option value="/contact">Contact Us</option>
      </select>
    </nav>
   </div><!--/responsiveNav-->
      </div>
    </div>
  </div>

<%= yield %>
<%= render 'shared/footer' %>
</div><!--/container-->


<script type="text/javascript">
$('#respn').change(function(){
    var url = $(this).val();
    window.location = url;
});

</script>
</body>
</html>
